# Firebase Configuration Template
VITE_FIREBASE_API_KEY=AIzaSy...
VITE_FIREBASE_AUTH_DOMAIN=mochimoney-34a49.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=mochimoney-34a49
VITE_FIREBASE_STORAGE_BUCKET=mochimoney-34a49.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=334663023618
VITE_FIREBASE_APP_ID=1:334663023618:web:952268af4adc3343f5bb1b
