rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow read, write: if true;
    }

    match /transactions/{docId} {
      allow read, write: if true;
    }

    match /wallets/{docId} {
      allow read, write: if true;
    }

    match /budgets/{docId} {
      allow read, write: if true;
    }

    match /savings/{docId} {
      allow read, write: if true;
    }

    match /savingsGoals/{docId} {
      allow read, write: if true;
    }

    match /payment_requests/{docId} {
      allow read, write: if true;
    }

    match /debts/{docId} {
      allow read, write: if true;
    }

    match /subscriptions/{docId} {
      allow read, write: if true;
    }

    match /circles/{docId} {
      allow read, write: if true;
    }

    match /calendarEvents/{docId} {
      allow read, write: if true;
    }

    match /notifications/{docId} {
      allow read, write: if true;
    }

    match /{document=**} {
      allow read, write: if true;
    }
  }
}

